.screens_details_header {
  display: flex;
  flex-direction: column;
  background-color: #FFE600;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  margin-bottom: 16px;
}

.screens_details_form {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin: auto;
  max-width: 80%;
  margin-top: 14px;
  margin-bottom: 14px;
  @media (max-width: 60rem) {
    max-width: 90%;
    height: auto;
    max-height: none;
  }
}
.box_img_search {
  display: flex;
  width: 10%;
  max-width: 10%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 60rem) {
    width: 15%;
    max-width: 15%;
  }
}
.box_input_icon_search {
  display: flex;
  width: 90%;
  max-width: 90%;
  height: auto;
  @media (max-width: 60rem) {
    width: 85%;
    max-width: 85%;
  }
}

.box_input_text {
  display: flex;
  width: 100%;
  padding: 10px;
  border-color: #EEEEEE;
  font-size: 18px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media only screen and (max-width: 700px){
  .box_input_text {
    font-size: 16px;
  }
}

.box_img {
  width: 80px;
}

.box_img_mel {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 700px){
  .box_input_text {
    font-size: 10px;
  }
  .box_img {
    width: 30px;
    height: 30px;
  }
  .box_img_mel {
    width: 20px;
    height: 20px;
  }
}


.box_search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  padding: 9px;
  border-color: #EEEEEE;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.list_search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  width: 70.6%;
  padding: 10px;
  max-width: 100%;
  box-shadow: 0px 1.25rem 2.5rem rgba(0, 0, 0, 0.05);
  position: absolute;
  z-index: 200;
  top: 65px;
  right: 10%;

  @media (max-width: 746px) {
    max-width: 100%;
    height: auto;
    max-height: none;
    top: 51px;
    right: 5%;
    width: 74%;
  }
  @media (max-width: 317px) {
    max-width: 100%;
    height: auto;
    max-height: none;
    top: 51px;
    right: 5%;
    width: 69%;
  }
}

a:hover {
  color: black;
  cursor: auto;
  background-color: #EEEEEE;
}
a {
  padding: 10px;
  background-color: white;
  transition: background-color .5s;
  @media (max-width: 700px) {
    font-size: 8px;
  }
}

