.screens_details_root {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
  border-bottom: black;
  border-bottom-width:medium;
}

.screens_title_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.screen_details_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3483FA;
  color: white;
  padding: 2vh;
  width: 80%;
  text-align: center;
  border-width: medium;
  border-color: #3483FA;
  border-radius: 0.325rem;;
}

.screen_details_description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  //max-width: 60rem;
  width: 680px;
  margin-left: 32px;
}

.screen_title_description {
  font-weight: 400;
  font-size: 28px;
}

.screen_description {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-bottom: 16px;
}
.screen_title_price {
  font-weight: 400;
  font-size: 46px;
  margin-bottom: 32px;
}
.screen_title_detail {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 32px;
}

.title_condition {
  font-weight: 400;
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 14px;
}


