.screens_details_root {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 70rem; /*1110px*/
  border-bottom: black;
  border-bottom-width:medium;
}

.screens_title_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.screens_title {
  font-size: medium;
  font-weight: bold;
}

.screen_details_button {
  background-color: #61dafb;
  color: white;
  padding: 2vh;
  text-align: center;
  border-width: medium;
  border-color: #61dafb;
  border-radius: 0.325rem;;
}

.screen_details_description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 60rem;
}
